@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Playfair+Display:ital,wght@0,400;0,900;1,400&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-serif: "Playfair Display", ui-serif, Georgia;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
}

@layer base {
  body {
    @apply antialiased selection:bg-red-600 selection:text-white;
  }

  /* Custom Scrollbar for Editorial Theme */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-stone-300 hover:bg-stone-400 transition-colors;
  }
}
